convert_serebii_teraraid/__pycache__/
convert_serebii_teraraid/output.txt
convert_serebii_teraraid/page.html
dumps/
JCC/Extensions
JCC/*.txt
mewtwobot/.classpath
mewtwobot/.idea/
mewtwobot/.metadata/
mewtwobot/.project
mewtwobot/.vscode/
mewtwobot/bin/
mewtwobot/src/com/grotteazuree/Login.java
limitless_scraping/card_list.txt
limitless_scraping/page.html
test/
links.txt