*/__pycache__/
convert_serebii_teraraid/output.txt
convert_serebii_teraraid/page.html
dumps/
JCC/Extensions
JCC/*.txt
mewtwobot/.classpath
mewtwobot/.idea/
mewtwobot/.metadata/
mewtwobot/.project
mewtwobot/.vscode/
mewtwobot/bin/
mewtwobot/src/com/grotteazuree/Login.java
limitless_scraping/card_list.txt
limitless_scraping/page.html
limitless_scraping/Extensions/
test/
card_article.txt
card_article_sav.txt
cards_special_name.txt
links.txt